{% extends "export_action/export.html" %}
{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    label.single-checkbox {
      font-weight: normal;
    }
  </style>
{% endblock %}

{% block content %}
  <h2> {% trans "Export" %} {{ opts.verbose_name_plural }} ({{ queryset.count }}) </h2>
  <p>
      {% for object in queryset|slice:":10" %}
          {{ object }}
          {% if not forloop.last %},{% endif %}
      {% endfor %}
      {% if queryset.count > 10 %}...{% endif %}
  </p>

  <br/>
  <div>
      <form method="post" action="">
        {% csrf_token %}
        <table class="table">
            <tr class="export_table form-group">
                <th class="export_table">
                    <input type="checkbox" id="check_all">
                </th>
                <th class="export_table">
                    <label for="check_all">{% trans "Select all" %}</label>
                </th>
            </tr>

            {% include "export_action/fields.html" %}
        </table>
        <div class="form-group">
          <label for="__format">{% trans "Format" %}
              <select name="__format" class="form-control">
                  <option value="xlsx">XLSX</option>
                  <option value="html">HTML</option>
                  <option value="csv">CSV</option>
              </select>
          </label>
        </div>
        <input type="submit" value="{% trans "Export" %}" class="btn btn-primary"/>
      </form>
  </div>
{% endblock %}
