{% extends "simple_import/base.html" %}
{% load bootstrap %}

{% block simple_import_page_title %}Import{% endblock %}

{% block simple_import_title %}Import{% endblock %}

{% block simple_import_form %}
  <div class="row">
    <div class="col-md-6">
      <form enctype="multipart/form-data" action="" method="post" role="form">{% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}